*.DS_Store
/build
tmp.txt

# test/ intermediate build files
test/*.o
test/*.s*
test/*.out*
test/*.ans
test/*.in
test/*_c
test/*_c.out*
test/*_riscv32
test/*_riscv32.out*
test/test[0-9]
test/Dcuk.ans
test/Dcuk.in
test/Dcuk.o
test/Dcuk.s
test/Dcuk_c
test/Dcuk_c.out
test/Dcuk_riscv32
test/Dcuk_riscv32.out
test/deepseek_code.ans
test/deepseek_code.in
test/deepseek_code.o
test/deepseek_code.s
test/deepseek_code_c
test/deepseek_code_c.out
test/deepseek_code_riscv32
test/deepseek_code_riscv32.out
